<!DOCTYPE html>
<html>
<head>
  <title>Clogs</title>
  <%= stylesheet_link_tag    "clogs/application", :media => "all" %>
  <%= javascript_include_tag "clogs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
